<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= pageTitle %></title>
</head>
<body>
  <header>
    <a href="/show">Enter User</a> | 
    <a href="/user">User</a>
  </header>
  <content>
    <% if (prods.length > 0) { %>
      <h1>Number of usrs - <%= prods.length %></h1>
    <% } else { %>
      <h1>No users</h1>
    <% } %>
  </content>  
</body>
</html>